name: tfpipeline-intoto

on:
  pull_request:
  push:
    branches: ["main"]

permissions:
  contents: read
  id-token: write

jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Install OPA
        run: |
          curl -L -o opa https://openpolicyagent.org/downloads/latest/opa_linux_amd64
          chmod +x opa
          sudo mv opa /usr/local/bin/opa
          opa version

      - name: Install in-toto + sigstore (CLI)
        run: |
          python -m pip install --upgrade pip
          pip install in-toto sigstore

      # --- Load in-toto CI functionary key from secrets ---
      - name: Load in-toto CI signing key for the files of .link
        env:
          INTOTO_CI_KEY: ${{ secrets.IN_TOTO_CI_KEY_B64}}
        # working-directory: /home/runner/work/SLSA/SLSA/.github/workflows/intoto/keys
        run: |
         pwd
         cd .github/workflows/intoto/keys
         echo "${{env.INTOTO_CI_KEY}}" > ci.key
         cat ci.key
         chmod 600 ci.key
         ls
#
      - name: checking weather key is loaded in the folder or not
        # working-directory: /home/runner/work/SLSA/SLSA/.github/workflows/intoto/keys
        run: |
         pwd
         cd .github/workflows/intoto/keys
         cat ci.key
         ls
#
        
          
          
 ###3##
#4444
      # ---------- in-toto steps (produce .link evidence) ----------
      - name: Terraform Init (in-toto)
        working-directory: terra
        run: |
            in-toto-run \
             --step-name terraform-init \
             --signing-key "../.github/workflows/intoto/keys/ci.key" \
             --metadata-directory "../.github/workflows/intoto/links" \
             --materials . \
             --products .terraform .terraform.lock.hcl \
             -- bash -lc 'timeout 600 terraform init -input=false -no-color'

##
      - name: Terraform Plan in-toto
        working-directory: terra
        run: |
          in-toto-run \
            --step-name terraform-plan \
            --signing-key "../.github/workflows/intoto/keys/ci.key" \
            --metadata-directory "../.github/workflows/intoto/links" \
            --materials . \
            --products tfplan.binary \
            -- terraform plan -out=tfplan.binary -input=false

      - name: Sigstore Sign (in-toto)
        run: |
          in-toto-run \
            --step-name sigstore-sign \
            --signing-key ".github/workflows/intoto/keys/ci.key" \
            --metadata-directory ".github/workflows/intoto/links" \
            --materials terra/tfplan.binary \
            --products terra/tfplan.binary.sigstore.json \
            -- sigstore sign terra/tfplan.binary 

      - name: Sigstore Verify Identity
        run: |
          sigstore verify identity terra/tfplan.binary \
            --bundle terra/tfplan.binary.sigstore.json \
            --cert-identity "https://github.com/MoulikMahajan2004/SLSA/.github/workflows/slsapipeline.yaml@refs/heads/main" \
            --oidc-issuer "https://token.actions.githubusercontent.com" \
            | tee terra/sigstore_verify.txt

      - name: Record sigstore-verify( in-toto)
        run: |
          in-toto-run \
            --step-name sigstore-verify \
            --signing-key ".github/workflows/intoto/keys/ci.key" \
            --metadata-directory ".github/workflows/intoto/links" \
            --materials terra/tfplan.binary terra/tfplan.binary.sigstore.json \
            --products terra/sigstore_verify.txt \
            -- bash -lc "true"

      - name: Create JSON plan (in-toto)
        working-directory: terra
        run: |
          in-toto-run \
            --step-name create-terraformplan-json \
            --signing-key "../.github/workflows/intoto/keys/ci.key" \
            --metadata-directory "../.github/workflows/intoto/links" \
            --materials tfplan.binary \
            --products terraformplan.json \
            -- bash -lc "terraform show -json tfplan.binary > terraformplan.json"

      - name: OPA policy check (in-toto)
        working-directory: terra
        run: |
          opa eval -i terraformplan.json -d tf.rego 'data.pipeline' | tee opa_result.txt

          in-toto-run \
            --step-name opa-policy \
            --signing-key "../.github/workflows/intoto/keys/ci.key" \
            --metadata-directory "../.github/workflows/intoto/links" \
            --materials terraformplan.json tf.rego tfplan.binary \
            --products opa_result.txt \
            -- bash -lc "true"

      # ---------- Verify against your layout ----------
      - name: in-toto verify (gate)
        working-directory: ./github/workflows/intoto
        run: |
          ls -la intoto/links || true
          in-toto-verify \
            --layout root.layout \
            --link-dir ./links \
            -v

      # Upload plan + evidence so apply job can reuse exact artifacts
      - name: Upload plan + evidence
        uses: actions/upload-artifact@v4
        with:
          name: tfplan-and-intoto
          path: |
            terra/tfplan.binary
            terra/tfplan.binary.sigstore.json
            terra/sigstore_verify.txt
            terra/terraformplan.json
            terra/opa_result.txt
            in-toto/root.layout
            in-toto/links/**

  apply:
    needs: plan
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download plan + evidence
        uses: actions/download-artifact@v4
        with:
          name: tfplan-and-intoto

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Install in-toto
        run: |
          python -m pip install --upgrade pip
          pip install in-toto

      # Re-verify in apply job before changing infra
      - name: Re-verify in-toto (block apply if fail)
        run: |
          in-toto-verify \
            --layout intoto/root.layout \
            --link-dir intoto/links \
            -v

      - name: Terraform Init
        working-directory: terra
        run: terraform init -input=false

      - name: Terraform Apply exact plan
        working-directory: terra
        run: terraform apply -auto-approve tfplan.binary
